<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rugby World Cup - 2023</title>
    <link rel="stylesheet" href="/css/main_styles.css">
    <link rel="stylesheet" href="/css/team-color.css">
</head>

<body>
    <div class="container">
        <div class="top-nav">
            <h3 class="top-title">Rugby World Cup-2023</h3>
            <div class="nav-link">
                <a class="register" href="/register">Register</a>
                <a class="login" href="/login">Login</a>
            </div>

        </div>
        <div class="image-header">
            <h1>Rugby World Cup - France 2023</h1>
        </div>
        <div class="filter-section">

        </div>
        <div class="main_">
            <form action="/register" class="register-form" method="post">
                <div class="header">
                    <header class="register-form-header">Register</header>
                </div>

                <div class="form-items">
                    <div class="form-group mb-20">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" autofocus>
                    </div>
                    <div class="form-group mb-20">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div id="response"></div>
                    <div class="button-container form-group">
                        <button class="r-btn" type="submit">REGISTER</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="footer">
            <h3 class="footer-title">Shubham Rangra - 2023</h3>
        </div>
    </div>


    <script src="/js/register.js"></script>
</body>

</html>