* {
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}

body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 38px 168px 38px 800px 38px;
}
/*NAV*/
.top-nav{
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.top-nav_ {
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-title{
    color: white;
    font-size: 12px;
    margin-left: 16px;
}
.top-nav {
    display: flex;
    justify-content: space-between;
}
.top-nav_ {
    display: flex;
    justify-content: space-between;
}
.nav-link a{
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 16px;
}
/*IMAGE HEADER*/
.image-header{
    background-image: url("/images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    width: 100%;
}
.image-header h1{

    margin-left: 16px;
}


/*Filter Section*/
.filter-section {
    display: flex;
    background-color: #dfdfdf;
    height: 38px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-box{
    padding-left: 596px;
    display: flex;
    height: 100%;
    width: 348px;
    color: #000;
}
.search-box input{
    height: 100%;
    border-style: none;
    width: 100%;
    border: #b6b6b6;

}

.search-box button{
    width: 40px;
    height: 100%;
    border: outset;
    border-width: 1px;
    border-color: black;
    color: white;
    background-color: #000;
}

.position-box{
    height: 100%;
    padding-left: 16px;
}

.position-box select{
    width: 167px;
    height: 38px;
    border-style: none;
    color: #b6b6b6;
}

/*Main*/
.main{
    width: 1440px;
    height: 800px;
    display: flex;
    /* place-content: center; */
    /* align-self: center; */
    margin-top: 16px;
    justify-self: center;

}

/*SIDEBAR*/
.sidebar-menu{
    grid-row: 1/ span 3;
    width: 166px;
}

.sidebar-menu .sidebar-menu-header{
    height: 29px;
    background-color: #CBD094;
    border-radius: 4px 4px 0 0;
    font: 16px;
    font-weight: bold;
    color: #000;
    display: grid;
    place-items: center;
}

.sidebar-menu-main{
    height: 679px;
    /* 
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    min-height: 711px; */
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 14px;

}
.sidebar-menu-main li{
    list-style: none;
    color: #000;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 16.71px;

}
.sidebar-menu-main a{
    list-style: none;
    color: #000;
    text-decoration: none;
    list-style-type: none;
}

/* .sidebar-menu .sidebar-menu-main p{
    margin-bottom: 16.4px;
} */

.search-button{
    width: 20px;
    height: 20px;
    color: #000;
}

.sidebar-menu .sidebar-menu-footer{
    height: 29px;
    background-color: #CBD094;
    border-radius: 0 0 4px 4px;
}

.teams-menu li a{
    color: blue;
}
/*PLAYER CARD*/
.player-grid{
    gap: 16px;
    margin-left: 16px;
    width: 1080px;
    height: 768px;
    display: grid;
    grid-template-rows: 245px 245px 245px;
    grid-template-columns: 166px 166px 166px 166px 166px 166px;

}

.coach-card{
    display: grid;
    grid-template-rows: 29px 187px 29px;
    padding-left: 16px;
}



.coach-grid header{
    background-color: #CBD094;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
    display: grid;
    place-items: center;
    border-style: solid;
    border-color: #b6b6b6;
    border-width: 1px;
}

.img-div img{
    height: 187px;
    width: 166px;
    object-fit: cover;
    border-style: solid;
    border-color: #b6b6b6;
    border-top: none;
    border-width: 1px;
}  

.coach-grid footer{
    border-style: solid;
    border-color: #b6b6b6;
    border-width: 1px;
    background-color: #CBD094;
    font-size: 14px;
    border-radius: 0 0 4px 4px;
    display: grid;
    place-items: center;
    border-style: solid;
    border-color: #b6b6b6;
    border-width: 1px;
}

.player-card{
    display: grid;
    grid-template-rows: 29px 187px 29px;
    
}
.player-grid header{
    background-color: #CBD094;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
    display: grid;
    place-items: center;
    border-style: solid;
    border-color: #b6b6b6;
    border-width: 1px;
}

.img-div img{
    height: 187px;
    width: 166px;
    object-fit: cover;
}  

.player-grid footer{
    background-color: #CBD094;
    font-size: 14px;
    border-radius: 0 0 4px 4px;
    display: grid;
    place-items: center;
    border-style: solid;
    border-color: #b6b6b6;
    border-width: 1px;
}
.player-container footer{
    display: flex;
}
.fa-edit{
    color: green;
    margin-right: auto;
}
.fa-trash{
    color: red;
    margin-left: auto;
}

.coach-card-header{
    height:29px;
    background-color: #CBD094;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
    display: grid;
    place-items: center;
}

.coach-card-main{
    height: 187px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}   

.coach-card-footer{
    height:29px;
    background-color: #CBD094;
    font-size: 14px;
    border-radius: 0 0 4px 4px;
    display: grid;
    place-items: center;
}
/*Footer*/
.footer{
    background-color: #DFDFDF;
    display: flex;
    align-items: center;
    width: 100%;
}
.footer-title{
    color: #000;
    font-size: 12px;
    margin-left: 16px;
}



/* LOGIN */


.login-form{
    background-color: white;
    width: 400px;
    height: 300px;
    border: #b6b6b6 solid;
    font-size: 18px;
    font-weight: bold;
}

.login-form .header{
    background-color: red;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form input{
    width: 360px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.login-form label{
    padding-top: 20px;
    padding-left: 18px;
}

.login-form button{
    background-color: #000;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

.form-group{
    display: flex;
    flex-direction: column;
}


/*REGISTER*/


.register-form{
    background-color: white;
    width: 400px;
    height: 300px;
    border: #b6b6b6 solid;
    font-size: 18px;
    font-weight: bold;
}

.register-form .header{
    background-color: #CBD094;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#response{
    color: red;
    padding-left: 18px;
    font-weight:lighter;
    font-size: 15px;
    padding-top: 10px;
}

#responseDiv{
    color: red;
    padding-left: 18px;
    font-weight:lighter;
    font-size: 15px;
    padding-top: 10px;
}

.main_{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form input{
    width: 360px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.register-form label{
    padding-top: 20px;
    padding-left: 18px;
}

.register-form button{
    background-color: #000;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

/*EDIT PLAYER*/
.modal{
    position: absolute;
    top: 380px;
    left: 750px;
}
.modal-content{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}


.modal-content header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

.playerNameContainer{
    padding-top: 16px;
    display: flex;
    flex-direction: column;
}

.playerNameContainer input{
    padding-top: 10px;
    width: 180px;
    height: 20px;
    border: ridge;
    border-radius: 2px;
    margin-bottom: 20px;
}


.playerPostionContainer{
    padding-top: 16px;
    display: flex;
    flex-direction: column;
}

.playerPostionContainer input{
    padding-top: 10px;
    width: 180px;
    height: 20px;
    border: ridge;
    border-radius: 2px;
    margin-bottom: 20px;
}

.update-btn{
    margin-top: 10px;
    background-color: rgb(0, 81, 255);
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}