.argentina {
    background-color: skyblue!important;
    color: floralwhite;
  }
  
  .argentina-bottom {
    background-color: white!important;
    color: goldenrod;
  }
  
  .australia {
    background-color: gold!important;
    color: darkgreen;
  }
  
  .australia-bottom {
    background-color: darkgreen!important;
    color: gold;
  }
  
  .chile {
    background-color: Red!important;
    color: white;
  }
  
  .chile-bottom {
    background-color: white!important;
    color: red;
  }
  .japan {
    background-color: Red!important;
    color: white;
  }
  
  .japan-bottom {
    background-color: white!important;
    color: red;
  }
  
  .england {
    background-color: White!important;
    color: Red;
  }
  .england-bottom {
    background-color: White!important;
    color: Red;
  }
  
  .fiji {
    background-color: White!important;
    color: black;
  }
  
  .fiji-bottom {
    background-color: black!important;
    color: white;
  }
  
  .france {
    background-color: Blue!important;
    color: white;
  }
  .france-bottom {
    background-color: Blue!important;
    color: white;
  }
  
  .georgia {
    background-color: Red!important;
    color: White;
  }
  .georgia-bottom {
    background-color: White!important;
    color: Red;
  }
  
  .namibia {
    background-color: Blue!important;
    color: white;
  }
  
  .namibia-bottom {
    background-color: white!important;
    color: red;
  }
  .ireland {
    background-color: Green!important;
    color: white;
  }
  
  .ireland-bottom {
    background-color: white!important;
    color: green;
  }
  .italy {
    background-color: Blue!important;
    color: white;
  }
  
  .italy-bottom {
    background-color: white!important;
    color: Blue;
  }
  .zealand {
    background-color: Black!important;
    color: white;
  }
  .zealand-bottom {
    background-color: Black!important;
    color: white;
  }

  .portugal {
    background-color: Red!important;
    color: White;
  }
  .portugal-bottom {
    background-color: white!important;
    color: Red;
  }
  
  .samoa {
    background-color: Blue!important;
    color: white;
  }
  .samoa-bottom {
    background-color: white!important;
    color: Red;
  }
  
  .scotland {
    background-color: darkblue!important;
    color: white;
  }
  
  .scotland-bottom {
    background-color: white!important;
    color: darkblue;
  }
  
  .africa {
     background-color: darkgreen!important;
     color: gold;
   }
   
   .africa-bottom {
     background-color: white!important;
     color: darkgreen;
   }
   .tonga {
     background-color: Red!important;
     color: White;
   }
   .tonga-bottom {
     background-color: White!important;
     color: darkgreen!important;
   }
  
   .uruquay {
     background-color: #22BDF6!important;
     color: floralwhite;
   }
   
   .uruquay-bottom {
     background-color: white!important;
     color: skyblue;
   }
   .wales {
    background-color: Red!important;
    color: White;
  }
  .wales-bottom {
    background-color: White!important;
    color: darkgreen;
  }

  .romainia {
    background-color: #F7D600!important;
    color: #000066;
  }
  .romainia-bottom {
    background-color: #000066!important;
    color: White;
  }